@model Lince.SportCenter.Models.ProductSPCModel
@using Lince.SportCenter.Domain

@{
    Layout = "";
}

@* VERY IMPORTANT for proper model binding *@
@Html.Hidden("__Type__", Model.GetType().AssemblyQualifiedName)

@Html.HiddenFor(m => m.ProductId)

<div style="margin-bottom: 30px; overflow: hidden;">
    <table id="SPCFacilityData" class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(m => m.Exporting)
            </td>
            <td class="adminData">
                @Html.EditorFor(m => m.Exporting)
                @Html.ValidationMessageFor(m => m.Exporting)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(m => m.FacilityTypeId)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.FacilityTypeId, ((SPCFacilityType)Model.FacilityTypeId).ToSelectList())
                @Html.ValidationMessageFor(m => m.FacilityTypeId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(m => m.CourtTypeId)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CourtTypeId, (Model.CourtTypeId.HasValue ? (CourtType)Model.CourtTypeId : CourtType.Futsal).ToSelectList())
                @Html.ValidationMessageFor(m => m.CourtTypeId)
            </td>
        </tr>
        
    </table>
</div>