@model Lince.SportCenter.Models.SportCenterSettingModel

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Enabled)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DayProductAttributeId)
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.DayProductAttributeId, Model.ProductAttributes)
            @Html.ValidationMessageFor(model => model.DayProductAttributeId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.GamePlayProductAttributeId)
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.GamePlayProductAttributeId, Model.ProductAttributes)
            @Html.ValidationMessageFor(model => model.GamePlayProductAttributeId)
        </td>
    </tr>
</table>