@model Lince.SportCenter.Models.SportCenterSettingModel

@using SmartStore.Web.Framework;
@using Telerik.Web.Mvc.UI;
@using SmartStore.Web.Framework.UI;

@{
    Html.AddCssFileParts(true, "~/Content/x-editable/bootstrap-editable.css");
    Html.AppendScriptParts(true, "~/Content/x-editable/bootstrap-editable.js");
}

<h2>Configure</h2><div class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    @Html.Raw(@T("Plugins.Lince.SportCenter.AdminInstruction"))
</div>

@*<script>
    function configure_onAjaxSuccess(tab, pane) {
		applyCommonPlugins(pane);
	}
</script>*@


@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Enabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled)
            </td>
        </tr>
        
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MinCourtTraxPerDay)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MinCourtTraxPerDay)
                @Html.ValidationMessageFor(model => model.MinCourtTraxPerDay)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MaxCourtTraxPerDay)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MaxCourtTraxPerDay)
                @Html.ValidationMessageFor(model => model.MaxCourtTraxPerDay)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MaxMembersPerCompany)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MaxMembersPerCompany)
                @Html.ValidationMessageFor(model => model.MaxMembersPerCompany)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProdAttrId_Day)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ProdAttrId_Day, Model.ProductAttributes)
                @Html.ValidationMessageFor(model => model.ProdAttrId_Day)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProdAttrId_InvTypeCode)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ProdAttrId_InvTypeCode, Model.ProductAttributes)
                @Html.ValidationMessageFor(model => model.ProdAttrId_InvTypeCode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProdAttrId_Start)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ProdAttrId_Start, Model.ProductAttributes)
                @Html.ValidationMessageFor(model => model.ProdAttrId_Start)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProdAttrId_End)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ProdAttrId_End, Model.ProductAttributes)
                @Html.ValidationMessageFor(model => model.ProdAttrId_End)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SpecAttrId_CourtFloorType)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SpecAttrId_CourtFloorType, Model.SpecificationAttributes)
                @Html.ValidationMessageFor(model => model.SpecAttrId_CourtFloorType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SpecAttrId_City)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SpecAttrId_City, Model.SpecificationAttributes)
                @Html.ValidationMessageFor(model => model.SpecAttrId_City)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SpecAttrId_Area)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SpecAttrId_Area, Model.SpecificationAttributes)
                @Html.ValidationMessageFor(model => model.SpecAttrId_Area)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DurationContractPeriod)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.DurationContractPeriod)
                @Html.ValidationMessageFor(model => model.DurationContractPeriod)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.IntervalBookingTimeInMinutes)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.IntervalBookingTimeInMinutes)
                @Html.ValidationMessageFor(model => model.IntervalBookingTimeInMinutes)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                &nbsp;
            </td>
            <td class="adminData">
                <button type="submit" name="save" value="save" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    @T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
}